<!-- Main -->
<div id="main">
   <% @post.each do |post| %>    <!-- Featured Post -->
      <% if post.feature %>
         <article class="post featured">
               <header class="major">
                  <span class="date"><%= post.created_at.to_formatted_s(:long) %></span>
                  <h2><a href="#"><%= post.title %></a></h2>
                  <p class="blog-preview"><%= post.content %></p>
               </header>
               <a href="posts/<%= post.id %>" class="image main"><img src="<%= post.image_url%>"/></a>
               <ul class="actions">
                  <li><a href="posts/<%= post.id %>" class="button big">Full Story</a></li>
               </ul>
         </article>
      <% end %>
   <% end %>
   <section class="posts">    <!-- Posts -->
      <% @post.each do |post| %>
         <% unless post.feature %>
            <article>
               <header>
                  <span class="date"><%= post.created_at.to_formatted_s(:long) %></span>
                  <h2><a href="#"><%= post.title %></a></h2>
               </header>
               <a href="posts/<%= post.id %>" class="image fit"><img src="<%= post.image_url%>" alt="" /></a>
               <p class="blog-preview not-feature"><%= post.content %></p>
               <ul class="actions">
                  <li><a href="posts/<%= post.id %>" class="button">Full Story</a></li>
               </ul>
            </article>
         <% end %>
      <% end %>
   </section>
</div>

