<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://use.fontawesome.com/f5fb6e9872.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
	<body class="is-loading">
      <div id="wrapper" class="fade-in">
         <div id="intro">
            <h1>Kevin's Travel Blog</h1>
            <p>An amazing blog for people who love to travel</p>
            <ul class="actions">
               <li><span class="button icon solo fa-arrow-down">Continue</span></li>
            </ul>
         </div>
         <header id="header">
            <span class="logo"></span>
         </header>
         <nav id="nav">
            <ul class="links">
               <li class="active"><a href="/">Home</a></li>
               <li><a href="/posts/new">New Blog</a></li>
               <li><a href="/about">About</a></li>
            </ul>
            <ul class="icons">
               <li><a target="_blank" href="https://linkedin.com/in/kevinlopez12" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
               <li><a target="_blank" href="https://codepen.io/kevinlo51/" class="icon fa-codepen"><span class="label">codepen</span></a></li>
               <li><a target="_blank" href="https://github.com/kevinlo123" class="icon fa-github"><span class="label">GitHub</span></a></li>
            </ul>
         </nav>
         <%= yield %>
         <footer id="footer">
            <section class="split contact">
               <section>
                  <h3>Phone</h3>
                  <p><a href="#">(857)237-3060</a></p>
               </section>
               <section>
                  <h3>Email</h3>
                  <p><a href="#">Lopezkevin175@gmail.com</a></p>
               </section>
               <section>
                  <h3>Social</h3>
                  <ul class="icons alt">
                     <li><a target="_blank" href="https://linkedin.com/in/kevinlopez12" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                     <li><a target="_blank" href="https://codepen.io/kevinlo51/" class="icon fa-codepen"><span class="label">codepen</span></a></li>
                     <li><a target="_blank" href="https://github.com/kevinlo123" class="icon fa-github"><span class="label">GitHub</span></a></li>
                  </ul>
               </section>
            </section>
         </footer>
         <div id="copyright">
            <ul><li>&copy; Travel Blog</li></li></ul>
         </div>
      </div>
  </body>
</html>
